.header {
    background-image: url('../images//header-bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo-pca {
    width: 82px;
    height: auto;
    margin: 12px;
    margin-left: 34px
}


.header .text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 80px;
    color: #fff;
}
.header .text .text-1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 29px;
}
.header .text .text-2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 39px;
}