#logs-container-desktop {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#logs-container-mobile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.Pagar\.me {
    color: #0080D0 !important;
}
.PagSeguro {
    color: rgba(0, 128, 208, 0.6) !important;
}

.log-item {
    margin: 8px;
    padding-bottom: 16px;
    border-bottom: 2px solid #eee;
    width: 100%;
}
.log-item:last-child {
    border-bottom: none;
}

.gateway-name-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 4px;
}

.date-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A0A0A0;
}

.log-item .gateway-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #A0A0A0;
}
.log-item .message {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #134E88;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.circle-status {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.circle-status-Sucesso {
    background-color: #138834;
}
.circle-status-Erro, .circle-status-Aviso {
    background-color: #C41414;
}

.timeline-caption {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #134E88;
}

.text-inicio {
    padding-right: 72px;
    margin-bottom: -3px;
    background-color: #fff;
}

.text-fim {
    padding-right: 72px;
    margin-top: -24px;
    background-color: #fff;
}

@media (min-width: 923px) {
    #logs-container-mobile {
        display: none;
    }

    #logs-container-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .log-item {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: unset;
        padding-bottom: unset;
        border-bottom: unset;
    }
    .log-item .inline {
        display: inline-block;
        vertical-align: middle;
    }
    .log-item .date-container {
        border-right: 2px solid #134E88;
        padding-right: 24px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        color: #A0A0A0;
        padding-bottom: 26px;
        width: 100%;
        max-width: 400px;
        height: 100%;
    }
    .log-item .info {
        padding-bottom: 26px;
        text-align: start;
        width: 100%;
        max-width: 438px;
        height: 100%;
    }
    
    .circle-status {
        margin-bottom: 26px;
        margin-left: -22.3px;
        margin-right: 14px;
    }
    
    .log-item:last-child .circle-status {
        margin-bottom: 0;
    }
    .log-item:last-child .info {
        padding-bottom: 0;
    }
    .log-item:last-child .date-container {
        padding-bottom: 0;
    }
}