.panel-container {
    max-width: 1000px;
    width: 100%;
    max-height: 100%;
}

.panel {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 100%;
    position: relative;
    padding-bottom: 128px;
    margin: 12px 2px;
}

.panel.no-bottom-padding {
    padding-bottom: initial;
}


.panel.panel-primary {
    background: #0080D0;
    color: #fff;
}

.panel.panel-default {
    background: #fff;
    color: #134e88;
}
.panel-default .panel-body {
    color: #134E88 !important;
}

.panel .panel-title {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 39px;
    align-items: center;
    color: #ECEFF1;
    margin-top: 56px;
    background-color: #134e88;
    padding: 12px 24px;
}

.panel .panel-title-full {
    padding-top: 39px;
    padding-left: 39px;
}

.panel .panel-card {
    background-color: #134E88;
    border-radius: 20px;
    text-align: center;
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.panel .panel-card p {
    font-size: 0.85em;
}

.panel .panel-body {
    padding: 26px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 29px;
    color: #fff;
    word-wrap: break-word;
}

.panel .panel-footer {
    padding: 0px 24px 24px 24px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.panel .panel-footer .space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panel .panel-footer .flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#copy-alert {
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1.5em;
}

#copy-alert.fade {
    opacity: 1;
    transition: opacity 0.3s;
}