.input-wrap {
    padding-bottom: 12.5px;
}

input, textarea, select {
    width: 100%;
    color: #134E88;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 15px;
    padding: 16px;
    border-radius: 32px;
    outline: none;
}

.input-primary {
    padding: 16px 16px 16px 48px;
    border: none;
    text-transform: uppercase;
}
.input-secondary {
    border: 1px solid #134E88;
}

::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 15px;
    color: #134E88;
}
.input-primary::placeholder {
    text-transform: uppercase;
}

label {
    width: 100%;
    position: relative;
}

label:before {
    content: "";
    position: absolute;
    left: 18px;
    top: 0;
    bottom: 0;
    width: 21px;
}

.icon-button {
    width: unset;
}

.icon-button:before {
    left: 24px;
}

.form-check {
    font-size: 0.75rem;
}
.form-label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    color: #134E88;
}
.form-check-inline {
    display: flex;
    gap: 8px;
    align-items: center;
}
.form-check-label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #134E88;
}
input[type=radio] {
    appearance: none;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #fff;
    outline: 1px solid #134E88;
    padding: 4px;
}
input[type=radio]:checked {
    border-radius: 50%;
    background: #134E88;
    border: 2px solid #fff;
    outline: 1px solid #134E88;
    padding: 4px;
}